* {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
}

a {
  text-decoration: none !important;
  color: #000 !important;
  font-size: 20px;
}

.booking-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.booking-header > img {
  width: 70px;
  height: 70px;
}

.header {
  padding: 2rem;
  background-color: #fff;
  color: #fff;
  min-height: 100vh;
  position: fixed;
}

.links {
  display: flex;
  gap: 10px;
}

.links > li {
  list-style: none;
  color: #fff;
}

.car-imgs {
  width: 50%;
  height: 200px;
  border-radius: 70%;
  padding: 5px;
}

.vehicle-name {
  padding: 20px 0 0 0;
  color: #000;
}

.car-image-container a {
  text-decoration: none;
}

.car-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.car-details > a {
  text-decoration: none;
  color: #000;
}

.container {
  display: flex;
  justify-content: center;
  align-content: center;

  /* flex-direction: column; */
  padding-bottom: 5rem;
  text-align: center;
  overflow: hidden;
  width: 100vw;
}

.icons-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons {
  width: 30px;
  height: 30px;
  gap: 4px;
  padding: 5px;
}

.main-content {
  background-color: #eee;
  min-height: 100vh;
}

.side-bar {
  background-color: #fff;
}

.vehicle-buti a {
  color: #fff;
}

.sidebar-menu > li > a {
  text-decoration: none;
  color: #000 !important;
  width: 100%;
  padding: 10px;
  padding-right: 25px;
  font-size: 15px;
}

.sidebar-menu {
  padding: 0;
  padding-left: 15px;
}

.sidebar-menu > li > a:hover {
  background-color: #97bf0f;
  color: #fff !important;
}

.detail-img {
  width: 70%;
  margin-left: 10%;
}

.details {
  display: flex;
  padding: 2rem;
  justify-content: space-between;
}

.detailed {
  margin-right: 5%;
  text-align: right;
  padding: 1rem;
  width: 100%;
}

.detailed > :nth-child(even) {
  background-color: #aab7b8;
}

.vehicle-detail {
  font-size: 18px;
}

.vehicle-detailed {
  font-size: 22px;
}

.vehicle-named {
  font-size: 40px;
  color: #6e2c00;
  font-weight: 700;
}

.btnss {
  position: relative;
  top: 20%;
  display: flex;
  justify-content: space-between;
}

.vehicle-but {
  margin-left: 6%;
}

.vehicle-buti {
  margin-right: 12%;
}

.vehicle-data-table {
  text-align: left;
  padding: 10px;
}

.details-img {
  max-height: 70%;
}

@media (max-width: 900px) {
  .sidebar-menu > li > a {
    font-size: 12px;
  }
}
