* {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
}

.booking-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.booking-header > img {
  width: 70px;
  height: 70px;
}

.header {
  padding: 2rem;
  background-color: #fff;
  color: #fff;
  min-height: 100vh;
  position: fixed;
}

.links {
  display: flex;
  gap: 10px;
}

.links > li {
  list-style: none;
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

.car-imgs {
  width: 50%;
  height: auto;
  border-radius: 70%;
  padding: 5px;
}

.car-info {
  display: flex;
  gap: 4rem;
  margin: 2rem;
  padding: 1rem;
}

.car-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.car-details > a {
  text-decoration: none;
  color: #000;
}

.container {
  display: flex;
  justify-content: center;
  align-content: center;
  /* flex-direction: column; */
  padding-bottom: 5rem;
  text-align: center;
  width: 100vw;
}

.icons-container {
  display: flex;
}

.icons {
  width: 30px;
  height: 30px;
  gap: 4px;
  padding: 5px;
}

.main-content {
  background-color: #eee;
  min-height: 100vh;
}

.side-bar {
  background-color: #fff;
}

.sidebar-menu > li > a {
  text-decoration: none;
  color: #000;
}

.sidebar-menu {
  padding: 0;
}

.sidebar-menu > li:hover {
  background-color: #000;
}

.sidebar-menu > li > a:hover {
  color: #fff;
}

.detail-img {
  width: 90%;
}

.details {
  display: flex;
  padding: 2rem;
  justify-content: space-between;
}
